{
    "presets": [
        [
            "@babel/preset-env",    // 包含了 es6、7的所有新特性
            {
                "modules": false,   // 默认为 CommonJS，false将保留ES模块。
                "targets": {
                    "browsers": [
                        "> 1%",
                        "last 2 versions",
                        "not ie <= 8"
                    ]
                }
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",  // 支持 es6、7 新api、特性。
            {
                "corejs": 2, // polyfill 需要使用@babel/runtime-corejs2
                "useBuildIns": "usage" //按需引入,即用什么新特性打包什么新特性, 可以减小打包的体积
            }
        ],
    ]
}
